#BUS_SORT

#S
sys_clk_in
sys_reset_n_in
por_n
scan_clk_s
scan_latch_s
scan_in_s
scan_clk_out_s
scan_latch_out_s
scan_out_s

#N
sys_clk_out
sys_reset_n_out
scan_clk_n
scan_latch_n
scan_in_n
scan_clk_out_n
scan_latch_out_n
scan_out_n

#E
proj_clk_out
proj_reset_n_out
proj_por_n_out
